﻿@model WebExperience.Test.ViewModels.AssetViewModel

@{ ViewBag.Title = "Create"; }

<div data-bind="visible: !saveCompleted()">

    <h2>Create</h2>

    @using(Html.BeginForm("Create", "Assets", FormMethod.Post, new {
        data_bind = "submit: save"
    })) {

@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Asset</h4>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.FileName, htmlAttributes: new {
                            @class = "control-label col-md-2"
                        })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FileName, new {
                                htmlAttributes = new {
                                    @class = "form-control",
                                    data_bind = "value: asset.fileName"
                                }
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MimeType, htmlAttributes: new {
                            @class = "control-label col-md-2"
                        })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MimeType, new {
                                htmlAttributes = new {
                                    @class = "form-control",
                                    data_bind = "value: asset.mimeType"
                                }
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new {
                            @class = "control-label col-md-2"
                        })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CreatedBy, new {
                                htmlAttributes = new {
                                    @class = "form-control",
                                    data_bind = "value: asset.createdBy"
                                }
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new {
                            @class = "control-label col-md-2"
                        })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new {
                                htmlAttributes = new {
                                    @class = "form-control",
                                    data_bind = "value: asset.email"
                                }
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Country, htmlAttributes: new {
                            @class = "control-label col-md-2"
                        })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Country, new {
                                htmlAttributes = new {
                                    @class = "form-control",
                                    data_bind = "value: asset.country"
                                }
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new {
                            @class = "control-label col-md-2"
                        })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new {
                                htmlAttributes = new {
                                    @class = "form-control",
                                    data_bind = "value: asset.description"
                                }
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" data-bind="visible: !sending()">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                </div>}
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "/ViewModels/AssetCreateViewModel.js")
    <script>
        var viewModel = new AssetCreateViewModel();
        ko.applyBindings(viewModel);
    </script>
}