﻿@model WebExperience.Test.ViewModels.AssetViewModel

@{ ViewBag.Title = "Delete";
    Layout = null; }

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Asset Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to delete this asset ?</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.FileName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FileName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MimeType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MimeType)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Country)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="modal-footer">
                @using(Html.BeginForm("Delete", "Assets", FormMethod.Post,
                new { data_bind = "submit: delete" })) {
    @Html.AntiForgeryToken()
                    <div class="form-actions no-color text-center"
                         data-bind="visible: !sending()">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>}
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->