﻿@using WebExperience.Test.Extensions
@using WebExperience.Test.ViewModels
@model ResultList<AssetViewModel>

@{ ViewBag.Title = "Assets";
    var queryOptions = Model.QueryOptions; }

<h2>Assets</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Controller", new { @class = "btn btn-success" })
</p>

<div style="display: none" data-bind="visible:  pagingService.entities().length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>File name</th>
                <th>Created by</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: pagingService.entities">
            <tr>
                <td data-bind="text: fileName"></td>
                <td data-bind="text: createdBy"></td>
                <td>
                    <a data-bind="attr: { href: '@Url.Action("Details")/' + assetId }" class="btn btn-info">Details</a>
                    <a data-bind="attr: { href: '@Url.Action("Edit")/' + assetId }" class="btn btn-primary">Edit</a>
                    <a data-bind="click: $parent.showDeleteModal, attr: { href: '@Url.Action("Delete")/' + assetId }" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>

    </table>

    @Html.BuildNextPreviousLinks("Index")
</div>

<div style="display: none" data-bind="visible: pagingService.entities().length == 0" class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    There are no assets to display. Click @Html.ActionLink("here", "Create") to create one now.
</div>

@section Scripts {
    @Scripts.Render("/Scripts/Services/PagingService.js", "/ViewModels/AssetIndexViewModel.js")
    <script>
        var viewModel = new AssetIndexViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}
